                                            * {
                                                margin: 0%;
                                                padding: 0%;
                                                font-family: 'Times New Roman', Times, serif;
                                            }
                                            
                                            .row {
                                                display: flex;
                                                flex-wrap: wrap;
                                            }
                                            
                                            .side {
                                                flex: 50%;
                                                padding: 20px;
                                                background-color: rgb(215, 215, 236);
                                                color: #0e385f;
                                                height: 100%;
                                                justify-content: flex-end;
                                            }
                                            
                                            h2 {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            }
                                            
                                            .main {
                                                flex: 40%;
                                                background-color: rgb(215, 215, 236);
                                                padding: 20px;
                                            }
                                            
                                            .main h2 {
                                                justify-content: flex-start;
                                                color: black;
                                                font-size: 40px;
                                            }
                                            
                                            .header {
                                                padding: 30px;
                                                background-color: #29487d;
                                                color: white;
                                            }
                                            
                                            .header p {
                                                margin-left: 10%;
                                                font-size: 35px;
                                                font-weight: bold;
                                            }
                                            
                                            .i1 {
                                                height: 5%;
                                                border-radius: 10%;
                                                font-size: 20px;
                                            }
                                            
                                            .i2 {
                                                height: 5%;
                                                border-radius: 10%;
                                                font-size: 20px;
                                                margin-left: 2%;
                                            }
                                            
                                            fieldset {
                                                flex-direction: row;
                                                width: 59%;
                                                font-size: 20px;
                                                justify-self: center;
                                            }
                                            
                                            fieldset input {
                                                align-items: center;
                                            }
                                            
                                            .button {
                                                display: flex;
                                                height: 5%;
                                                cursor: pointer;
                                            }
                                            
                                            @media screen and (max-width:360px) {
                                                .row {
                                                    flex-direction: row;
                                                }
                                                .side {
                                                    flex: 50%;
                                                    width: 700px;
                                                    flex-wrap: wrap;
                                                    display: flex;
                                                    flex-direction: row;
                                                }
                                                .header {
                                                    width: 620px;
                                                }
                                                .main {
                                                    width: 800px;
                                                    flex: 0 0 640px;
                                                }
                                                img {
                                                    width: 640px;
                                                }
                                                p {
                                                    font-weight: 900;
                                                    font-family: 'Courier New', Courier, monospace;
                                                }
                                                fieldset legend {
                                                    font-weight: 900;
                                                    font-family: 'Courier New', Courier, monospace;
                                                }
                                                fieldset label {
                                                    font-size: 20px;
                                                    font-weight: bold;
                                                }
                                                .button {
                                                    FONT-WEIGHT: BOLD;
                                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                    WIDTH: 100PX;
                                                }
                                            }
                                            
                                            @media screen and (max-width:411px) {
                                                .header {
                                                    width: 620px;
                                                }
                                                .row {
                                                    flex-direction: column;
                                                }
                                                .side {
                                                    flex: 50%;
                                                    width: 640px;
                                                    flex-wrap: wrap;
                                                    display: flex;
                                                    flex-direction: column;
                                                }
                                                .header {
                                                    width: 620px;
                                                }
                                                .main {
                                                    width: 640px;
                                                    flex: 0 0 640px;
                                                }
                                                img {
                                                    width: 400px;
                                                }
                                                p {
                                                    font-weight: 900;
                                                    font-family: 'Courier New', Courier, monospace;
                                                }
                                                fieldset legend {
                                                    font-weight: 900;
                                                    font-family: 'Courier New', Courier, monospace;
                                                }
                                                fieldset label {
                                                    font-size: 20px;
                                                    font-weight: bold;
                                                }
                                                .button {
                                                    FONT-WEIGHT: BOLD;
                                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                    WIDTH: 100PX;
                                                }
                                            }
                                            
                                            @media screen and (max-width:420px) {
                                                .header {
                                                    width: 620px;
                                                }
                                                .row {
                                                    flex-direction: column;
                                                }
                                                .side {
                                                    flex: 50%;
                                                    width: 640px;
                                                    flex-wrap: wrap;
                                                    display: flex;
                                                    flex-direction: column;
                                                }
                                                .header {
                                                    width: 620px;
                                                }
                                                .main {
                                                    width: 640px;
                                                    flex: 0 0 640px;
                                                }
                                                img {
                                                    width: 400px;
                                                }
                                                p {
                                                    font-weight: 900;
                                                    font-family: 'Courier New', Courier, monospace;
                                                }
                                                fieldset legend {
                                                    font-weight: 900;
                                                    font-family: 'Courier New', Courier, monospace;
                                                }
                                                fieldset label {
                                                    font-size: 20px;
                                                    font-weight: bold;
                                                }
                                                .button {
                                                    FONT-WEIGHT: BOLD;
                                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                    WIDTH: 100PX;
                                                }
                                            }
                                            
                                            @media screen and (min-width:768px) and (max-width:1024px) {
                                                .header {
                                                    width: 710px;
                                                }
                                                .row {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    flex-direction: column;
                                                }
                                                img {
                                                    width: 70%;
                                                }
                                                .side {
                                                    flex: 30%;
                                                }
                                                .main {
                                                    flex: 40%;
                                                }
                                            }
                                            
                                            @media screen and (min-width:1024px) {
                                                .header {
                                                    width: 960px;
                                                }
                                            }
                                            
                                            @media screen and (min-width:1900px) {
                                                .main {
                                                    flex: 0 0 40%;
                                                }
                                            }
                                            
                                            @media screen and (min-width:1300px) {
                                                .header {
                                                    width: 97%;
                                                }
                                            }